streamlit
opencv-python
numpy
pandas
scikit-learn
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
fpdf
nltk
reportlab
pdfplumber
PyPDF2
pytesseract
pdfminer.six
weasyprint
matplotlib
pdfkit
pango
pillow
