#numpy
#pandas
#fpdf
#nltk
#pdfplumber
#pytesseract
#PyPDF2
#reportlab
#scikit-learn
#streamlit
#pdfminer.six
#pdfkit
#pdfminer3k
#pillow
#weasyprint


absl-py
altair
anyio @ file:///C:/b/abs_847uobe7ea/croot/anyio_1706220224037/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/ci_311/argon2-cffi-bindings_1676424443321/work
asttokens
astunparse
async-lru @ file:///C:/b/abs_e0hjkvwwb5/croot/async-lru_1699554572212/work
attrs @ file:///C:/b/abs_35n0jusce8/croot/attrs_1695717880170/work
Babel @ file:///C:/ci_311/babel_1676427169844/work
backcall
beautifulsoup4 @ file:///C:/b/abs_0agyz1wsr4/croot/beautifulsoup4-split_1681493048687/work
bitarray
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker
Brotli @ file:///C:/ci_311/brotli-split_1676435766766/work
cachetools
certifi @ file:///C:/b/abs_35d7n66oz9/croot/certifi_1707229248467/work/certifi
cffi @ file:///C:/b/abs_924gv1kxzj/croot/cffi_1700254355075/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click
cmake
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dlib
dnspython
docopt
emoji
executing
face-recognition
face_recognition_models
fastjsonschema @ file:///C:/ci_311/python-fastjsonschema_1679500568724/work
Flask
flatbuffers
fonttools
gast
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
httplib2
idna @ file:///C:/ci_311/idna_1676424932545/work
imageio
ipykernel
ipython
itsdangerous
jedi
Jinja2 @ file:///C:/b/abs_f7x5a8op2h/croot/jinja2_1706733672594/work
joblib
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///C:/b/abs_d1c4sm8drk/croot/jsonschema_1699041668863/work
jsonschema-specifications @ file:///C:/b/abs_0brvm6vryw/croot/jsonschema-specifications_1699032417323/work
jupyter-events @ file:///C:/b/abs_17ajfqnlz0/croot/jupyter_events_1699282519713/work
jupyter-lsp @ file:///C:/b/abs_ecle3em9d4/croot/jupyter-lsp-meta_1699978291372/work
jupyter_client
jupyter_core
jupyter_server @ file:///C:/b/abs_7esjvdakg9/croot/jupyter_server_1699466495151/work
jupyter_server_terminals @ file:///C:/b/abs_ec0dq4b50j/croot/jupyter_server_terminals_1686870763512/work
jupyterlab @ file:///C:/b/abs_43venm28fu/croot/jupyterlab_1706802651134/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab_server @ file:///C:/b/abs_e08i7qn9m8/croot/jupyterlab_server_1699555481806/work
keras
kiwisolver
lazy_loader
libclang
lime
Markdown
markdown-it-py
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib
matplotlib-inline
mdurl
mistune @ file:///C:/ci_311/mistune_1676425111783/work
ml-dtypes
mmh3
nbclient @ file:///C:/b/abs_cal0q5fyju/croot/nbclient_1698934263135/work
nbconvert
nbformat @ file:///C:/b/abs_5a2nea1iu2/croot/nbformat_1694616866197/work
nest-asyncio
networkx
nltk
notebook @ file:///C:/b/abs_65xjlnf9q4/croot/notebook_1708029957105/work
notebook_shim @ file:///C:/b/abs_a5xysln3lb/croot/notebook-shim_1699455926920/work
numpy
oauthlib
opencv-python
opt-einsum
overrides @ file:///C:/b/abs_cfh89c8yf4/croot/overrides_1699371165349/work
packaging
pandas
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso
pickleshare
pillow
pipreqs
platformdirs
plotly
prometheus-client @ file:///C:/ci_311/prometheus_client_1679591942558/work
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pybloom-live
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydeck
Pygments
pymongo
pyparsing
PySocks @ file:///C:/ci_311/pysocks_1676425991111/work
python-dateutil
python-json-logger @ file:///C:/b/abs_cblnsm6puj/croot/python-json-logger_1683824130469/work
pytz @ file:///C:/b/abs_19q3ljkez4/croot/pytz_1695131651401/work
pywin32
pywinpty @ file:///C:/ci_311/pywinpty_1677707791185/work/target/wheels/pywinpty-2.0.10-cp311-none-win_amd64.whl
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq
referencing @ file:///C:/b/abs_09f4hj6adf/croot/referencing_1699012097448/work
regex
requests @ file:///C:/b/abs_474vaa3x9e/croot/requests_1707355619957/work
requests-oauthlib
rfc3339-validator @ file:///C:/b/abs_ddfmseb_vm/croot/rfc3339-validator_1683077054906/work
rfc3986-validator @ file:///C:/b/abs_6e9azihr8o/croot/rfc3986-validator_1683059049737/work
rich==
rpds-py @ file:///C:/b/abs_76j4g4la23/croot/rpds-py_1698947348047/work
rsa
scikit-image
scikit-learn
scipy
seaborn
Send2Trash @ file:///C:/b/abs_08dh49ew26/croot/send2trash_1699371173324/work
six
smmap
sniffio @ file:///C:/b/abs_3akdewudo_/croot/sniffio_1705431337396/work
soupsieve @ file:///C:/b/abs_bbsvy9t4pl/croot/soupsieve_1696347611357/work
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado @ file:///C:/ci_311/terminado_1678228513830/work
textblob
threadpoolctl
tifffile
tinycss2 @ file:///C:/ci_311/tinycss2_1676425376744/work
toml
toolz
tornado
tqdm
traitlets
typing_extensions @ file:///C:/b/abs_72cdotwc_6/croot/typing_extensions_1705599364138/work
tzdata
uritemplate
urllib3 @ file:///C:/b/abs_4etpfrkumr/croot/urllib3_1707770616184/work
watchdog
wcwidth
webencodings
websocket-client @ file:///C:/ci_311/websocket-client_1676426063281/work
Werkzeug
win-inet-pton @ file:///C:/ci_311/win_inet_pton_1676425458225/work
wordcloud
wrapt
xgboost
xxhash
yarg

